.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
    margin-left: 5%;
}

.courseOverview {
    padding: 60px;
    text-align: left;
    color: black;
    font-size: 30px;
    /*background-image: url("./../../ML_image.jpeg");*/
    background: linear-gradient(70deg, #3ed5b9, #30b2d5);
    /*background-position: right;*/
    /*background-repeat: no-repeat;*/
    max-height: 120px;
    border-bottom: #282c34;
}

p {
    text-align: left;
    max-width: 70%;
}

a:link {
    text-decoration: none;
}

/*Probably dont need this file */