.addskillform {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 97px;
    width: 370px;
}

.add_skill_form {
    align-items: flex-start;
    display: flex;
    height: 97px;
    min-width: 1006px;
    position: relative;
}

.addskillblock {
    align-items: flex-start;
    display: flex;
    padding: 2%;
    margin-left: 10%;
    position: relative;
}

.addskillframe {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.addskillframe {
    padding: 10px;
}

.addSkill {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    min-height: 280px;
    width: 1006px;
}

.inputGroup {
    align-items: flex-start;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    min-width: 750px;
    padding: 7.5px 11.5px;
    border-color: black;
}

.inputLabel {
    background-color: transparent;
    border: 0;
    height: 24px;
    letter-spacing: 0.15px;
    line-height: 24px;
    min-width: 750px;
    padding: 0;
    white-space: nowrap;
}

.inputArea {
    background-color: transparent;
    border: 0;
    height: 224px;
    letter-spacing: 0.15px;
    line-height: 24px;
    padding: 0;
    white-space: nowrap;
    width: 750px;
    resize: none;
}

.inputline {
    align-items: flex-start;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    margin-top: 5px;
    min-width: 368px;
    padding: 7.5px 9.5px;
}

.inputbox {
    align-items: flex-start;
    border-radius: 4px;
    display: flex;
    height: 120px;
    justify-content: flex-start;
    margin-top: 5px;
    min-width: 368px;
    padding: 7.5px 9.5px;
}

.add_skill_btn {
    display: flex;
    align-items: center;
}

.add-skill-page {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 49px 0;
    width: 1440px;
}

.inputTitle {
    height: 50px;
    letter-spacing: 0.15px;
    line-height: 24px;
    width: 800px;
}

.addskilllogo {
    width: 300px;
    height: 75px;
}

.add_skill_btn div {
    margin-left: 43%;
}

.statusDiv {
    height: 5%;
    text-align: center;
    margin-top: 1%;
}

.status {
    padding: 2%;
    margin: 2%;
    align-items: center;
}

.h1-title {
    height: 50px;
    letter-spacing: 0.15px;
    line-height: 24px;
    width: 800px;
}

.addSkill_message--success {
    position: absolute;
    top: 50%;
    right: 0%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: green;
}

.addSkill_message--error {
    position: absolute;
    top: 50%;
    right: 0%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: red;
}